<head>
  <title>Post Not Found</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'postnotfound', 'data-turbolinks-track': 'reload' %>
</head>
<body style="background: #000;display: flex;height: 100vh;">
  <h3 style="position: absolute; top: 100px; left: 43vw; color: #BBBBBB">Post not found <%= link_to 'Go Back', root_path, class: 'btn btn-primary' %></h3>
  <figure>
    <div class="sad-mac"></div>
    <figcaption>
      <span class="sr-text">Error 404: Post not found</span>
      <span class="e"></span>
      <span class="r"></span>
      <span class="r"></span>
      <span class="o"></span>
      <span class="r"></span>
      <span class="_4"></span>
      <span class="_0"></span>
      <span class="_4"></span>
      <span class="n"></span>
      <span class="o"></span>
      <span class="t"></span>
      <span class="f"></span>
      <span class="o"></span>
      <span class="u"></span>
      <span class="n"></span>
      <span class="d"></span>
    </figcaption>
  </figure>
</body>
