<body style="background-color: #F0F0F0; font-family: 'Candara Light',serif; font-size: 18px; color: #2E2F30; display: block; padding: 10px">
  <h1 style="font-weight: bold"><%= @blog_post.title %></h1>
  <p><%= @blog_post.content %></p>
</body>